<h3>La autora de <%= title %> es Marisa García-Nieto</h3> es Marisa García-Nieto
No tengo foto, sorry
Supongo que lo mejor sería poner una tabla y en la primera columna el nombr ey en la segunda la foto,...pro si hubiera más autores